body {
  color: #a8a8a8;
  margin: 0;
  text-align: center;
  font-family: 'Molengo', sans-serif;
  font-size: 230%;
}

p {
    line-height: 2;
}

p:hover {
  color: black;
}
hr {
  margin: auto;
  color: #888888;
  border-style: none;
  border-top: dotted;
  border-width: 10px;
  width: 4%;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 150px;
  width: 50%;
  font-family: 'Laila', serif;
  color: #888888;
  padding: 20px;
}

h2 {
  margin: 0 auto;
  font-size: 3.6rem;
  width: 50%;
  font-family: 'Molengo', sans-serif;
  font-weight: normal;
  color: #888888;
}

a {
  color: #40514e;
  font-family: 'Molengo', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: white;
}



.greeting {

}

.top-container {
  background-color: #f8f3eb;
  position: relative;
  padding-top: 200px;
  height: 1147px;
  }

.middle-container {
  margin: 100px auto;
}

.profile  {
  margin: 150px auto;
}

.skills {
  margin: 150px auto;
}

.bottom-container {
  background-color: #A9A9A9;
  height: 150px;
padding: 50px 0 30px 0;
}

.cloud1 {
  position: absolute;
  top: 200px;
  right: 600px;
  height: auto;
  width: 400px;
}

.cloud2 {
  position: absolute;
  top: 800px;
  left: 550px;
  height: auto;
  width: 400px;
}

.mountain {
  position: absolute;
  right: 800px;
  /* margin: auto 780px 0 auto; */
  bottom: 0;
  height: auto;
  width: 1200px;
}

.profile-pic {
  width: 5%;
  margin: auto;
  padding: 100px;
}

.introduction {
  margin: auto;
  width: 30%;
}

.skill-row {
  position: relative;
  width: 50%;
  margin:  100px auto;
  text-align: left;
}

.Chess-player {
  margin: 15px 80px auto auto;
  width: 20%;
  float: left;
  clear: left;
}

.soccer {
  margin: 80px auto auto 80px;
  width: 20%;
  float: right;
  clear: right;
}

.contact-me {
  margin: 200px auto 200px auto;
  width: 40%;
}

.btn {
   background: #B7B7B7;
   background-image: -webkit-linear-gradient(top, #B7B7B7, #515458);
   background-image: -moz-linear-gradient(top, #B7B7B7, #515458);
   background-image: -ms-linear-gradient(top, #B7B7B7, #515458);
   background-image: -o-linear-gradient(top, #B7B7B7, #515458);
   background-image: linear-gradient(to bottom, #B7B7B7, #515458);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 48px;
   font-weight: 100;
   padding: 40px;
   box-shadow: 1px 1px 5px 0px rgba(22, 22, 22, 0.58);
   -webkit-box-shadow: 1px 1px 5px 0px rgba(22, 22, 22, 0.58);
   -moz-box-shadow: 1px 1px 5px 0px rgba(22, 22, 22, 0.58);
   text-shadow: 1px 1px 20px #000000;
   border: solid #A9A9A9 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: double #FFFFFF 1px;
   background: #B2C0D5;
   background-image: -webkit-linear-gradient(top, #B2C0D5, #8F8F8F);
   background-image: -moz-linear-gradient(top, #B2C0D5, #8F8F8F);
   background-image: -ms-linear-gradient(top, #B2C0D5, #8F8F8F);
   background-image: -o-linear-gradient(top, #B2C0D5, #8F8F8F);
   background-image: linear-gradient(to bottom, #B2C0D5, #8F8F8F);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.copyright {
  font-size: 25px;
  color: #edf1f7;
  padding: 30px 0;

}
